<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI EMPREGA</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/index.js" defer></script>
</head>


<body class="bg-light">

    <%- include('partials/navbar') %>

        <main>

            <div class="container d-flex justify-content-center align-items-center" id="form-cadastro"
                style="min-height: 80vh;">
                <div class="card p-4 shadow" style="width: 100%; max-width: 500px;">
                    <h1>Adicionar aluno</h1>
                    <form action="/aluno/registro-aluno" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="inputMatricula" class="form-label">N° de matrícula:</label>
                            <input type="text" class="form-control" id="inputMatricula" name="inputMatricula" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputAluno" class="form-label">Aluno:</label>
                            <select class="form-select" id="inputAluno" name="inputAluno" required>
                                <option selected disabled>Selecione o aluno..</option>
                                <% usuarios.forEach(function(usuarios){ %>
                                    <option><%= usuarios.nome %></option>
                                <% }) %>
                               
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="inputCurso" class="form-label">Curso:</label>
                            <select class="form-select" id="inputCurso" name="inputCurso" required>
                                <option selected disabled>Selecione o curso..</option>
                                <option>Soldador no processo MAG</option>
                                <option>Mecânico de máquinas industriais</option>
                                <option>Oxicorte a mão e máquina</option>
                                <option>Torneiro mecânico</option>
                                <option>Eletricista instalador predial de baixa tensão</option>
                                <option>Caldeiro</option>
                                <option>Operação de empilhadeira</option>
                                <option>Comandos elétricos industriais</option>
                                <option>Mecânico de refrigeração e climatização industrial</option>
                                <option>Soldador em aço carbono no processo TIG</option>
                                <option>Programação de torno CNC</option>
                                <option>Controlador lógico programável - CLP</option>
                                <option>Auto Cad 2D</option>
                                <option>Projetos de sistemas fotovoltaica de microgeração</option>
                                <option>Instalação de sistemas para microgeração fotovoltaica conectadas à rede</option>
                                <option>Instalador de sistemas fotovoltaica</option>
                                <option>NR10 segurança em instalações e serviços com eletricidade (RECICLAGEM)</option>
                                <option>Soldador no processo eletrodo revestido aço carbono</option>
                                <option>PCL - Controlador lógico programável</option>
                                <option>NR33 SST Realizado em espaço confinado trabalhador e vigia</option>
                                <option>Programação de torno CNC</option>
                                <option>NR35 Trabalho em altura</option>
                                <option>Técnico em Eletromecânica</option>
                                <option>Técnico em Mecânica</option>
                                <option>Técnico em Desenvolvimento de sistemas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inputPeriodo" class="form-label">Período:</label>
                            <select class="form-select" id="inputPeriodo" name="inputPeriodo" required>
                                <option selected disabled>Selecione o perído..</option>
                                <option>Matutino</option>
                                <option>Vespertino</option>
                                <option>Noturno</option>
                        
                            </select>
                        </div>
                        <% if (typeof mensagem_sucesso !== 'undefined' && mensagem_sucesso) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong><%= mensagem_sucesso %></strong>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          <% } %>
                        <% if (typeof error !== 'undefined' && error) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong><%= error %></strong>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          <% } %>
        
                        <br>
                        <input type="submit" id="registro" class="btn btn-primary" value="Registrar">
                        <a href="/adm"><button type="button" class="btn btn-danger">Voltar</button></a>
                    </form>
                </div>
            </div>

        </main>

        <%- include('partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

</body>

</html>